*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#0f0f0f;
  color:white;
  font-family:'Inter',sans-serif;
  overflow-x:hidden;
}

img{
  display:block;
  max-width:100%;
}

a{
  text-decoration:none;
}

:root{
  --sand:#E7D3B0;
  --dark:#111111;
  --light:#F4F1EA;
  --gray:#B8B8B8;
}

.navbar{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index:1000;
  padding:25px 7%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgba(0,0,0,0.2);
  backdrop-filter:blur(14px);
}

.logo img{
  height:70px;
  width:auto;
  display:block;
  object-fit:contain;
}

.nav-links{
  display:flex;
  gap:35px;
  list-style:none;
}

.nav-links a{
  color:white;
}

.nav-btn{
  background:var(--sand);
  color:black;
  padding:14px 24px;
  border-radius:50px;
  font-weight:700;
}

.hero{
  position:relative;
  height:100vh;
  background:url('assets/hero.jpg') center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.45);
}

.hero-content{
  position:relative;
  z-index:2;
  max-width:850px;
  padding:20px;
}

.hero-subtitle{
  display:inline-block;
  margin-bottom:20px;
  color:var(--sand);
  letter-spacing:3px;
}

.hero h1{
  font-size:5.5rem;
  line-height:1.1;
  margin-bottom:25px;
  font-family:'Poppins',sans-serif;
}

.hero p{
  font-size:1.2rem;
  line-height:1.8;
  max-width:650px;
  margin:auto;
  color:#ddd;
  margin-bottom:40px;
}

.hero-buttons{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.primary-btn{
  background:var(--sand);
  color:black;
  padding:18px 34px;
  border-radius:50px;
  font-weight:700;
}

.secondary-btn{
  border:1px solid white;
  color:white;
  padding:18px 34px;
  border-radius:50px;
  font-weight:700;
}

.info-bar{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  padding:35px 20px;
  background:#171717;
}

.experience-section,
.rooms-section,
.activities-section,
.gallery-section,
.reviews-section{
  padding:140px 8%;
}

.experience-section{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
  align-items:center;
}

.experience-image img{
  border-radius:28px;
  height:700px;
  object-fit:cover;
}

.section-tag{
  display:inline-block;
  color:var(--sand);
  margin-bottom:20px;
  letter-spacing:3px;
  font-size:0.9rem;
}

.section-header{
  text-align:center;
  margin-bottom:70px;
}

.section-header h2,
.experience-content h2{
  font-size:4rem;
  margin-bottom:30px;
  font-family:'Poppins',sans-serif;
}

.rooms-grid,
.activities-grid,
.gallery-grid,
.reviews-grid{
  display:grid;
  gap:25px;
}


.rooms-grid{
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
}

.activities-grid{
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}

.gallery-grid{
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
}

.gallery-grid img{
  height:400px;
  object-fit:cover;
  border-radius:22px;
  transition:0.5s ease;
  cursor:pointer;
}

.gallery-grid img:hover{
  transform:scale(1.04);
}

.reviews-grid{
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
}

.room-card{
  background:#171717;
  border-radius:24px;
  overflow:hidden;
  transition:0.4s ease;
}

.room-card:hover{
  transform:translateY(-10px);
}

.room-content,
.review-card{
  padding:35px;
}

.room-image{
  overflow:hidden;
}

.room-image img{
  height:320px;
  object-fit:cover;
  transition:0.5s ease;
}

.room-card:hover .room-image img{
  transform:scale(1.08);
}

.activity-card{
  position:relative;
  height:400px;
  border-radius:24px;
  overflow:hidden;
  display:flex;
  align-items:flex-end;
  padding:35px;
  transition:0.4s ease;
}

.activity-card:hover{
  transform:translateY(-8px);
}


.activity-overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.8));
}

.activity-card h3{
  position:relative;
  z-index:2;
  font-size:2rem;
}

.activity1{background:url('assets/activity1.jpg') center/cover;}
.activity2{background:url('assets/activity2.jpg') center/cover;}
.activity3{background:url('assets/activity3.jpg') center/cover;}
.activity4{background:url('assets/activity4.jpg') center/cover;}

.social-section{
  position:relative;
  height:80vh;
  background:url('assets/social.jpg') center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.social-overlay,
.cta-overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
}

.social-content,
.cta-content{
  position:relative;
  z-index:2;
  max-width:900px;
  padding:20px;
}

.social-content h2,
.cta-content h2{
  font-size:5rem;
  margin-bottom:25px;
  font-family:'Poppins',sans-serif;
}

.final-cta{
  position:relative;
  height:70vh;
  background:url('assets/finalcta.jpg') center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.cta-content a{
  background:var(--sand);
  color:black;
  padding:18px 36px;
  border-radius:50px;
  font-weight:700;
}

footer{
  padding:90px 8%;
  text-align:center;
  background:#0a0a0a;
}

.footer-links{
  display:flex;
  justify-content:center;
  gap:25px;
  margin:35px 0;
}

.footer-links a{
  color:white;
}

@media(max-width:1000px){
  .hero h1,
  .social-content h2,
  .cta-content h2{
    font-size:3.5rem;
  }

  .experience-section{
    grid-template-columns:1fr;
  }
}

@media(max-width:768px){

  .nav-links{
    display:none;
  }

  .logo img{
    height:50px;
  }

  .hero h1,
  .social-content h2,
  .cta-content h2,
  .section-header h2,
  .experience-content h2{
    font-size:2.5rem;
  }

}
.whatsapp-float{
  position:fixed;
  width:65px;
  height:65px;
  bottom:30px;
  right:30px;
  background:#25D366;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  z-index:9999;
  transition:0.3s ease;
}

.whatsapp-float:hover{
  transform:scale(1.1);
}

.whatsapp-float img{
  width:34px;
  height:34px;
}
.instagram-float{
  position:fixed;
  width:65px;
  height:65px;
  bottom:110px;
  right:30px;
  background:linear-gradient(
    45deg,
    #F58529,
    #DD2A7B,
    #8134AF,
    #515BD4
  );
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  z-index:9999;
  transition:0.3s ease;
}

.instagram-float:hover{
  transform:scale(1.1);
}

.instagram-float img{
  width:34px;
  height:34px;
}

